@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Lobster|Pacifico|Monda|Audiowide|Lobster+Two");
@keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

a {
    text-decoration-line: none !important;
}

a:hover {
    text-decoration-line: none !important;
}

.section {
    background-size: cover
}

body {
    /* background-color: #ecf0f1; */
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto Mono';
    color: #ffffff;
}

.section {
    background-size: cover;
}

.contact {
    background: url("../resources/noFace_color.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.header-info-container,
.info-basic {
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
}

.info-basic {
    z-index: 0;
    position: relative;
    bottom: 100px;
    padding-top: 100px;
}

.position {
    color: #f1c40f;
}

.circle {
    position: relative;
    z-index: 1;
}

.email a {
    text-decoration-line: none;
    color: #ffffff;
}

.email a:hover {
    color: #f1c40f;
}

.name-and-position {
    line-height: normal !important;
}

.name {
    font-family: 'Monda', sans-serif;
    font-size: 30px;
}

.heading-text {
    font-size: 32px;
    font-family: 'Monda', sans-serif;
    font-weight: bold;
    border-bottom: 5px solid #f1c40f;
}

.position {
    font-size: 24px;
    line-height: 100%;
}

.basic-info {
    word-spacing: 0px !important;
}

.gitlab-icon {
    color: #e25843;
}

.linkedin-icon {
    color: #00a0dc;
}

.instagram-icon {
    color: #e1306c;
}

.facebook-icon {
    color: #3b5998;
}

.gitlab-icon:hover {
    color: #df7f70;
}

.linkedin-icon:hover {
    color: #6bbad6;
}

.instagram-icon:hover {
    color: #e4608c;
}

.facebook-icon:hover {
    color: #4f74c5;
}

.social-icons {
    word-spacing: 5px
}

.fa-envelope-o,
.fa-phone,
.fa-map-marker {
    vertical-align: middle;
}

.info-basic-container {
    /* padding-top: 100px; */
}

.btn-download-resume {
    /* color: #f1c40f;
    background-color: #000000;
    border-color:#000000; */
}

.btn-download-resume:hover {
    animation: bounce 1s;
}

.circle {
    width: 200px;
    height: 200px;
    border: 3px solid #f1c40f;
    border-radius: 100px;
    background-image: url('../resources/college.jpg');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: 55%;
}

.about-me-container {
    padding-top: 180px;
}

.education-container {
    padding-top: 50px;
}

.skill-graph {
    padding-top: 10px;
}

/* Timeline */

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #cfcccc;
    display: inline-block;
    position: absolute;
    left: 31px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: '';
    background: #e7e7e7;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 5px solid #f1c40f;
    left: 20px;
    width: 25px;
    height: 25px;
    z-index: 400;
}

.timeline-heading {
    font-size: 20px;
    font-weight: bold;
}

.university-name {
    font-weight: bold;
    color: #f1c40f;
}

.date-of-graduation {
    line-height: 50px;
    color: #777;
}

.date-of-graduation:hover {
    color: rgb(207, 204, 204);
}


.copyright-text {
    color: #777;
}

.section-footer {
    background-color: #000000;
}

.section-education {
    background: #28023D;
}

.quote-text {
    color: black;
}

/* Loader */

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../resources/loaders/Ripple-1.8s-200px.gif') 50% 50% no-repeat #000000
}

/* Scrollbar */

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #f1c40f;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

/* Mobile Adjustment */

@media only screen and (max-width: 800px) {
    .resume-button {
        padding-bottom: 25px;
    }
    .about-me-container {
        padding-top: 260px;
    }
    .about-me-para {
        padding-top: 10px;
    }
}